.home {
	padding: 160px 0px 0px 0px;

	display: grid;
	grid-template-columns: 2.5fr 1fr;

	&-section-title {
		margin: 0px 0px 30px 0px;

		font-size: 26px;
		font-weight: 600;
	}

	&-card {
		display: flex;
		align-items: center;
		gap: 30px;
	}
}
