.card-info {
}
.card-info-body {
	color: #fff;
	padding: 24px;

	width: 450px;
	height: 250px;

	display: flex;
	flex-direction: column;
	gap: 38px;

	border-radius: 16px;
	background: linear-gradient(112deg, #fed4b4 0%, #3bb9a1 100%);
}
.card-info-line {
	&:first-child {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&:nth-child(2) {
		font-size: 28px;
		font-weight: 600;
		letter-spacing: 2px;
	}
	&:last-child {
		display: flex;
		justify-content: space-between;
		gap: 50px;


		line-height: 150%;
	}
}
.card-info-icon {
	& div {
		font-size: 24px;
		font-weight: 700;
	}
}
.lucide {
}
.lucide-nfc {
}
.card-info-wrapper {

	display: flex;
	flex-direction: column;
	gap: 2px;

	& span:last-child {
		font-size: 14px;
		font-weight: 700;
		line-height: 145%;
		text-transform: uppercase;
	}
}
