@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.field {
	padding: 17px 25px;

	display: block;

	border-radius: 12px;
	border: 1px solid transparent;
	background-color: $secondary-color;

	&:focus-within {
		border-color: rgba($primary-color, 0.5);
	}

	& input {
		width: 100%;
	}
}
