@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.button {
	padding: 12px 22px;

	font-size: 18px;
	font-weight: 600;
	color: $primary-color;
	text-transform: capitalize;

	border-radius: $radius;
	background-color: transparent;
	border: 1px solid $primary-color;

	@include transition(background-color);

	&:disabled {
		cursor: not-allowed;
		pointer-events: none;
	}

	&:hover {
		border: 1px solid transparent;
		background-color: #e4c9fe;

		@include transition(background-color);
	}
}
